---
import { promise } from "astro/zod";
import Layout from "../layouts/Layout.astro";
import Guitarra from "../components/Guitarra.astro";
import Posts from "../components/Posts.astro";

const urlGuitarras = `${
  import.meta.env.PUBLIC_API_URL
}/guitarras?populate=imagen`;
const urlPosts = `${import.meta.env.PUBLIC_API_URL}/posts?populate=imagen`;

const [resGuitarras, resPosts] = await Promise.all([
  fetch(urlGuitarras),
  fetch(urlPosts),
]);

const [{ data: guitarras }, { data: posts }] = await Promise.all([
  resGuitarras.json(),
  resPosts.json(),
]);
---

<Layout
  title="Inicio"
  description="pagina de instrumentos guitarras , blog de musica"
>
  <main class="contendor">
    <h1 class="heading">Inicio</h1>
    <div class="grid">
      {
        guitarras?.map((guitarra) => (
          <Guitarra
            nombre={guitarra.attributes.nombre}
            descripcion={guitarra.attributes.descripcion}
            url={guitarra.attributes.url}
            precio={guitarra.attributes.precio}
            imagen={
              guitarra.attributes.imagen.data.attributes.formats.medium.url
            }
          />
        ))
      }
    </div>
  </main>

  <section class="contenedor">
    <h2 class="heading">Blog</h2>
    <div class="grid">
      {
        posts?.map((post) => (
          <Posts
            titulo={post.attributes.titulo}
            contenido={post.attributes.contenido}
            imagen={post.attributes.imagen.data.attributes.formats.medium.url}
            url={post.attributes.url}
          />
        ))
      }
    </div>
  </section>
</Layout>

<style></style>
